/* Auth Tab Design Start */
.auth-tab-section {
  padding: 100px 0;
  background: var(--dark-blue);
}

.logReg-tab {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.login-tab {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #170f2f;
  box-shadow: 0px 0 20px 5px rgba(255, 255, 255, 0.1);
}

.login-tab::before {
  content: "";
  position: absolute;
  height: 3px;
  background: var(--background-color);
  width: 0%;
  top: 0;
  left: 0;
  transition: 0.3s;
}

.login-tab:hover::before {
  width: 100%;
}

.login-tab h2 {
  margin: 0;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  line-height: 36px;
}

.register-tab {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #170f2f;
  box-shadow: 0px 0 20px 5px rgba(255, 255, 255, 0.1);
}

.register-tab::before {
  content: "";
  position: absolute;
  height: 3px;
  background: var(--background-color);
  width: 0%;
  top: 0;
  left: 0;
  transition: 0.3s;
}

.register-tab:hover::before {
  width: 100%;
}

.register-tab h2 {
  margin: 0;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  line-height: 36px;
}

.auth-tablet {
  width: 600px;
}
/* Auth Tab Design End */

/* Login Tab Design Start */
.login-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-fields label {
  font-size: 16px;
  color: #fff;
  line-height: 29px;
  font-weight: 400;
}

.login-fields .text-fields {
  background-color: transparent;
  border: 1px solid var(--border);
  font-size: 14px;
  font-weight: 400;
  height: 52px;
  padding: 3px 20px;
  width: 100%;
  border-radius: 5px;
  color: #fff;
}
/* Login Tab Design End */
