/* Course Listing Start */
.course-listings {
  padding: 100px 0;
  background: var(--dark-blue);
}

.search-main-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  border: 1px solid var(--border);
}

.search-count {
  width: 50%;
}

.search-style {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 20px;
  width: 50%;
}

.list-style-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 50%;
}

.list-style-icon a {
  color: #fff;
}

.sorting-box {
  width: 50%;
}

.sorting-box select {
  width: 100%;
}

/* Filter Wrap Start */

/* Search Bar */
.search-bar {
  padding: 15px 25px;
  border: 1px solid var(--border);
}

.search-bar h4 {
  color: #fff;
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
}

.search-bar input {
  background: transparent;
  border: 1px solid #fff !important;
  color: #fff;
  border-radius: 0;
}

.search-bar input:focus {
  border: 1px solid #fff;
  outline: none;
  box-shadow: none;
  background: transparent;
  color: #fff;
}

.search-bar input::placeholder {
  color: var(--background-color);
}

/* Category Wrapper Start */
.category-wrapper {
  padding: 15px 25px;
  border: 1px solid var(--border);
}

.category-wrapper h4 {
  color: #fff;
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
}

.category-list ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.category-list ul li {
  display: flex;
  gap: 20px;
  padding: 10px;
  border: 1px solid var(--border);
  transition: all 0.3s ease-in-out;
}

.category-list ul li:hover {
  background: #5f2ded;
}

.category-list ul li span {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

/* Course Tag Start*/

.course-tag-wrapper {
  padding: 15px 25px;
  border: 1px solid var(--border);
}

.course-tag-wrapper h4 {
  color: #fff;
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
}

.tag-list ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tag-list ul li {
  display: flex;
  gap: 20px;
  padding: 10px;
  border: 1px solid var(--border);
  transition: all 0.3s ease-in-out;
}

.tag-list ul li:hover {
  background: #5f2ded;
}

.tag-list ul li span {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

/* Price Range Filter */
.price-range {
  padding: 15px 25px;
  border: 1px solid var(--border);
}

.price-range h4 {
  color: #fff;
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
}

.range-value {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 50px;
  background: var(--border);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.range-value::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: var(--background-color) !important;
  cursor: pointer;
}

.value-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.value-name h4 {
  font-size: 16px;
  font-weight: 400;
}

/* Filter Wrap End */

/* Course Grid Start */
.course-grid {
}

.course-card {
  background: #17093e;
  padding: 15px;
  box-shadow: 0 0 20px 10px rgba(95, 45, 237, 0.1);
}

.course-feature-image {
  position: relative;
  overflow: hidden;
}

.course-feature-image img {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.course-feature-image img:hover {
  transform: scale(1.1);
}

.course-category-one {
  background: #f2277e;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50%;
  display: flex;
  justify-content: center;
  border-radius: 90px;
}

.course-category-one p {
  font-size: 12px;
}

.course-lesson ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-lesson ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.course-lesson ul li p {
  font-size: 14px;
}

.course-lesson ul li i {
  color: var(--background-color);
}

.course-heading h2 {
  color: #fff;
  font-size: 18px;
  transition: 0.3s ease-in-out;
}

.course-heading h2:hover {
  color: var(--background-color);
}

.course-price ul {
  display: flex;
  justify-content: space-between;
}

.course-price ul li .price-tag {
  font-size: 18px;
  color: #5f2ded;
  font-weight: 600;
}

.course-price ul li .details {
  color: #f2277e;
}

.border-box {
  margin: 10px 0;
  height: 1px;
  background: #fff;
}

.course-review img {
  width: 12%;
  border-radius: 100%;
}

.course-review ul li p {
  font-size: 14px;
}

.course-review ul li {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

/* Course Grid End */

/* Course Listing End */
